version: '3.7'
services:
  mongodb_container:
    image: mongo:latest
    container_name: db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    ports:
      - 27017:27017
    volumes:
      - mongodb_data:/data/db
    restart: always
  
  backend_container:
    container_name: backend
    ports:
      - "5000:5000"
    build:
      context: "."
      dockerfile: "Dockerfile"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    links:
      - mongodb_container
  frontend:
    build:
      context: ../frontend-module
      dockerfile: Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - '3000:3000'

volumes:
  mongodb_data:
